<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-skeleton-sword-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{66,70}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{66,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{68,66}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{68,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{72,68}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{72,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{66,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{66,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1446},{56,62}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{56,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,885},{46,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{46,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,429},{52,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{52,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1075},{60,72}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{60,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,70}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{76,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{64,66}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{64,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,587},{46,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{46,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,91},{42,72}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{42,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,814},{46,70}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{46,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1353},{56,72}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{56,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1300},{56,74}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{56,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,998},{60,76}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{60,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1229},{58,70}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{58,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,787},{64,68}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{64,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,743},{46,70}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{46,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1124},{58,82}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{58,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{64,72}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{64,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,495},{66,74}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{66,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,205},{70,74}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{70,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{68,66}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{68,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,954},{56,82}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{56,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1426},{44,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{44,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,342},{50,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{50,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1037},{58,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{58,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,71},{76,64}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{76,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,641},{64,72}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{64,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,500},{46,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{46,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,0},{42,90}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{42,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,253},{46,88}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{46,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,660},{54,82}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{54,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1375},{56,70}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{56,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1148},{58,80}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{58,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1207},{58,78}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{58,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,923},{62,74}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{62,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,164},{46,88}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{46,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>enemy-skeleton-sword-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1286},{58,66}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{58,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy-skeleton-sword.png</string>
            <key>size</key>
            <string>{119,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fec10a37a585d6eca867658c696425:e3afe0e19b0026e8870f8cd79cf58e26:07ef333894a95bc4250adb1e0b67dd00$</string>
            <key>textureFileName</key>
            <string>enemy-skeleton-sword.png</string>
        </dict>
    </dict>
</plist>
